html {
    font-family: 'Orbitron', sans-serif;font-family: 'VT323', monospace;
    background-size: cover;
}

button {
     
    font-family: 'VT323', monospace;
    font-size: 24px;
    color:white;
    background-color: rgba(28, 129, 223, 0.788);
    border: 1px solid rgb(110, 235, 38);
    padding: 15px 22px;
    text-align: center;
}


button:hover{
background-color: rgb(146, 115, 233);
}


.parent {
    text-align: center;
    
}
.calcDisplay{
 border-radius:24px;
}
.child {
    display: inline-block;
    font-size: 24px;
}

.clearButton {
    padding: 7px;
    font-family: 'Orbitron', sans-serif;font-family: 'VT323', monospace;
    font-size: 22px;
    background: rgb(28, 129, 223, 0.788);
    border: 1px solid #0bf332;
    text-align: center;
    /* padding: 0px; */
    width: 243px;
    height: 40px;
    margin-bottom: 50px;
}

.box input[type="submit"], .box input[type="number"]{
  border:2px solid #3600f8fd;
  border-radius:24px;
  text-align: center;
}

