html {
    font-family: 'Orbitron', sans-serif;font-family: 'VT323', monospace;
    /* background-image: url("background.jpg"); */
    background-size: cover;
}

button {
    font-family: 'Orbitron', sans-serif;font-family: 'VT323', monospace;
    font-size: 24px;
    background-color: rgba(196, 197, 180, 0.788);
    border: 1px solid black;
    padding: 15px 22px;
    text-align: center;
}

.button {
    background: rgb(62, 63, 52);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
}


.parent {
    text-align: center;
}

.child {
    display: inline-block;
    font-size: 24px;
}

input {
    padding: 7px;
    font-family: 'Orbitron', sans-serif;font-family: 'VT323', monospace;
    font-size: 22px;
    background: rgba(244, 247, 208, 0.432);
    border: 1px solid black;
    text-align: right;

}

.calcInput {
    width: 70px;
    background: lightgray;
}

.input {
    border: 1px solid black;
    font-size: 24px;
    height: 30px;
    width: 235px;
    background-color: rgba(227, 235, 204, 0.623);
    text-align: right;

}

.calcOutput {
    text-align: center;
    font-size: 24px;
}
